@charset "utf-8";

body, html {width:100%; height:100%;}

.wrapper {
    width: 100%;
    position: fixed;
    z-index: 10;
    background: inherit;
    height: 100%;
}
.bottom_wrapper {
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: hidden;
}

/* header */
.header {
    width: 100%;
    min-width:320px;
    position: fixed;
    height: auto;
    background: rgba(0,0,0,0.2);
    text-align: center;
    z-index: 1001;
}

.header .header_logo { display: inline-block; transform: scale(1.3);padding: 17px;}
.header .header_menu{ display: none;}
.header .header_menu ol{text-align: center;}
.header .header_menu ol li{display: inline-block; color:rgb(235,235,235); font-size: 25px; text-transform: uppercase; padding: 0px 10px 10px 10px;}


/* content */
.cont{width: 100%; height: 93%; background: orange;}

/* footer */

.footer{line-height: 40px; display: table; clear: both; background: #272727; width: 100%; height: 7%;}
footer_wrap > div {display: table-cell; width: calc(50vw - 180px);}
.footer .copyright{font-size:10px;line-height: 10px; font-family: 'Camber-M';color:#6b6b6b;text-align: right; text-transform: uppercase;padding:30px;}
.copyright p span{white-space: nowrap;}